BOT_TOKEN=your-bot-token
GROUP_ID=0

DB_HOST=db
DB_PORT=5432
DB_NAME=corpmeet
DB_USER=corpmeet
DB_PASSWORD=eW3lA7lU1j

WEBAPP_PORT=8080
WEBAPP_URL=https://your-domain/webapp/

BACKEND_URL=http://backend:8001
BOT_SECRET=your-bot-secret
